<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title>
  HAS main menu
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">


      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/govuk/assets/images/favicon.ico" type="image/x-icon">
      <link rel="mask-icon" href="/govuk/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
      <link rel="apple-touch-icon" sizes="180x180" href="/govuk/assets/images/govuk-apple-touch-icon-180x180.png">
      <link rel="apple-touch-icon" sizes="167x167" href="/govuk/assets/images/govuk-apple-touch-icon-167x167.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/govuk/assets/images/govuk-apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" href="/govuk/assets/images/govuk-apple-touch-icon.png">



  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->






    <meta property="og:image" content="/govuk/assets/images/govuk-opengraph-image.png">
  </head>
  <body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>





<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo" style="width: 50%">
      <a href="/index" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype-text">
            Health Assessment Service
          </span>
      </a>
    </div>
    <!-- <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link-service-name">
        Service name
      </a>
    </div> -->
  </div>
</header>




<div class="govuk-width-container ">


  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
       Main menu
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="#">View a caseload or status</a>
            </h2>
            <p class="dwp-card__description">View a referral in progress by caseload or status</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="#">Find a claimant</a>
            </h2>
            <p class="dwp-card__description">Search for a claimant to view their referral</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="#">New referrals to assign (2736)</a>
            </h2>
            <p class="dwp-card__description">Assign new referrals to a caseload</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="#">Create a referral</a>
            </h2>
            <p class="dwp-card__description">Add a paper referral to the active referrals list</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="assessment-management">Manage booked assessments</a>
            </h2>
            <p class="dwp-card__description">View or cancel a booked assessment</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="/current/HCP-admin/location">Manage HCP profiles</a>
            </h2>
            <p class="dwp-card__description">Add or remove a HCP and their skills</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="#">View incomplete referrals</a>
            </h2>
            <p class="dwp-card__description">View a list of incomplete referrals</p>
          </div>
        </div>
        <div class="dwp-card dwp-card--clickable">
          <div class="dwp-card__content">
            <h2 class="dwp-card__heading dwp-heading-m">
              <a class="dwp-card__link" href="#">Changes to PIP referrals</a>
            </h2>
            <p class="dwp-card__description">Confirm new referrals and view alerts for supporting evidence, documents and changes of circumstances added to existing referrals</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>



    <footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

          <h2 class="govuk-visually-hidden">Support links</h2>

            <ul class="govuk-footer__inline-list">

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="https://govuk-prototype-kit.herokuapp.com/">
                    GOV.UK Prototype Kit v9.10.1
                  </a>
                </li>

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="/prototype-admin/clear-data">
                    Clear data
                  </a>
                </li>

            </ul>



        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41"
        >
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"
          />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license"
          >Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
        >© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>





    <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>


  <script src="/extension-assets/govuk-frontend/govuk/all.js"></script>


<script src="/public/javascripts/application.js"></script>


  <script src="/public/javascripts/auto-store-data.js"></script>




  <!-- GOV.UK Prototype Kit v9.10.1 -->

  </body>
</html>
